#container {
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
  }
  
 #container::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
  }
  
  #container ::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  
  #content {
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
  }
  
 #content::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
  }
  
  #content ::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  
  .carousel .slider-wrapper {
    overflow: visible;
  }
  .carousel .slider-wrapper:before,
  .carousel .slider-wrapper:after {
    content: '';
    position: absolute;
    z-index: 2;
    
    background: linear-gradient(to right, white, rgba(255, 255, 255, 0));
  }
  .carousel .slider-wrapper:before {
    left: 0;
  }
  .carousel .slider-wrapper:after {
    right: 0;
  }
  
